/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow: overlay;
}

body {
    background: #1F2E35;
}

body.overflow {
    overflow: hidden;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

.page__content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    max-width: 500px;
    background: #1F2E35;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slide {
    min-width: 100%;
    -webkit-transition: height .6s, -webkit-transform .6s;
    transition: height .6s, -webkit-transform .6s;
    -o-transition: transform .6s, height .6s;
    transition: transform .6s, height .6s;
    transition: transform .6s, height .6s, -webkit-transform .6s;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    overflow-y: hidden;
}

.shop__content, .results__content, .gifts__content, .accounts__content {
    height: 0px;
}

.lobby__content {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 60px;
    background: #30444E;
    -webkit-box-shadow: 0px 1px 14px #19282f;
    box-shadow: 0px 1px 14px #19282f;
    border-radius: 0px 0px 24px 24px;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
}

.header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 92px;
    height: 28px;
    background: #1F2E35;
    border-radius: 8px;
    margin-right: 8px;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.header__item.setting {
    width: 36px;
    height: 36px;
    background: transparent;
    margin-left: 7px;
    cursor: pointer;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item svg {
    margin-left: 4px;
}

.header__item span {
    margin-left: 12px;
}

.platform__container {
    padding: 0 16px;
    padding-top: 76px;
    padding-bottom: 96px;
}

.special-offers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.special-offers__item {
    width: 50%;
    -webkit-box-shadow: 0px 1px 14px #19282f;
    box-shadow: 0px 1px 14px #19282f;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 11px 0px 15px 17px;
}

.special-offers__item.red {
    background: #FF464F;
    margin-right: 4px;
}

.special-offers__item.purple {
    background: #6952DC;
    margin-left: 4px;
}

.special-offers__item__svg {
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.special-offers__item svg {
    opacity: 0.5;
}

.special-offers__text {
    margin-left: 4px;
}

.special-offers__discount {
    font-family: Roboto;
    font-weight: 900;
    font-size: 25px;
    line-height: 22px;
    color: #fff;
}

.special-offers__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.tournaments {
    padding-top: 18px;
}

.tournaments__title {
    font-family: Maven Pro;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.8px;
    color: #fff;
}

.tournaments__list {
    margin-top: 18px;
}

.tournaments__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 104px;
    width: 100%;
    background: #30444E;
    -webkit-box-shadow: 0px 1px 14px #19282F;
    box-shadow: 0px 1px 14px #19282F;
    border-radius: 16px;
    margin-bottom: 20px;
}

.tournaments__item-left__info::before {
    content: attr(data-offer) "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: calc(0% - 135px);
    width: 135px;
    height: 24px;
    background: #6952DC;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    z-index: 9;
}

.tournaments__item-left__info {
    position: relative;
    background: #FF8A34;
    border-radius: 16px 0px 0px 16px;
    width: 104px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 6px;
}

.tournaments__item-left__info .price {
    font-family: Roboto;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin-left: -3px;
}

.tournaments__item-left__info .prize {
    padding: 13px 0px 15px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-left: -3px;
}

.tournaments__item-middle__info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: auto;
    margin-left: 0;
}

.tournaments__item-middle__info .title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.tournaments__item-middle__info .players {
    padding: 14px 0;
}

.tournaments__item-middle__info .players svg {
    vertical-align: bottom;
    margin-right: 2px;
}

.tournaments__item-middle__info .players span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.tournaments__item-right__info {
    margin-right: 12px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tournaments__item-right__info .type-fee {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.tournaments__item-right__info .prizes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px 0;
}

.tournaments__item-right__info .prizes__item p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.tournaments__item-right__info .prizes__item svg {
    position: relative;
    top: 2px;
}

.tournaments__item-right__info .prizes__item {
    margin-right: 14px;
}

.tournaments__item-right__info .prizes__item:last-child {
    margin-right: 0px;
}

.btn__play {
    background: #40DB9C;
    border-radius: 8px;
    width: 100%;
    min-width: 92px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.results__title {
    font-family: Maven Pro;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.8px;
    color: #fff;
    padding-top: 8px;
}

.results__list {
    margin-top: 6px;
}

.results__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 104px;
    background: #30444E;
    -webkit-box-shadow: 0px 1px 14px #19282f;
    box-shadow: 0px 1px 14px #19282f;
    border-radius: 16px;
    margin-bottom: 8px;
}

.results__item-left__info {
    position: relative;
    border-radius: 16px 0px 0px 16px;
    width: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 8px;
    background: #2A3C44;
}

.results__item-left__info .data {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.results__item-left__info .place {
    font-family: Roboto;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    padding: 8px 0;
}

.results__item:nth-child(odd) .place {
    color: #40DB9C;
}

.results__item:nth-child(even) .place {
    color: #FFBC25;
}

.results__item-left__info .place-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.results__item:nth-child(odd) .place-text {
    color: #40DB9C;
}

.results__item:nth-child(even) .place-text {
    color: #FFBC25;
}

.results__item-middle__info {
    margin: 0 auto;
    margin-left: 0;
    padding-bottom: 8px;
}

.results__item-middle__info .title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 6px;
}

.results__item-middle__info .players span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.btn__leaderboard {
    background: #FFBC25;
    border-radius: 8px;
    width: 100%;
    max-width: 112px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.results__item-right__info {
    margin-right: 27px;
    text-align: center;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.results__item-right__info .won-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding-top: 14px;
    margin-right: 6px;
}

.results__item-right__info .prizes__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.results__item-right__info .prizes__item p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 6px;
}

.results__item-right__info .prizes__list {
    margin-top: 12px;
}

.results__item-right__info svg {
    opacity: 0.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    height: 96px;
    background: #30444E;
    -webkit-box-shadow: 0px 0px 24px rgba(25, 40, 47, 0.6);
    box-shadow: 0px 0px 24px rgba(25, 40, 47, 0.6);
    border-radius: 24px 24px 0px 0px;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 0 8px 0 16px;
}

.footer__item {
    text-align: center;
    position: relative;
    padding-top: 28px;
    cursor: pointer;
    width: 56px;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.footer__item p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #96A7AF;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.footer__item__icon {
    width: 22px;
    height: 22px;
    margin: auto;
    position: relative;
    margin-bottom: 18px;
    top: 4px;
}

.circle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #40DB9C;
    left: 158px;
    top: -16px;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: left .4s;
    -o-transition: left .4s;
    transition: left .4s;
    will-change: left;
}

.footer__item.is-active p {
    color: #fff
}

.footer__item svg, .footer__item path {
    -webkit-transition: fill .4s;
    -o-transition: fill .4s;
    transition: fill .4s;
}

.footer__item.is-active svg, .footer__item.is-active path {
    fill: #fff;
}

.footer__item.results {
    width: 65px;
}

.footer__item.account {
    width: 72px;
}

.leaderboad-modal {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .6s, visibility .6s;
    -o-transition: opacity .6s, visibility .6s;
    transition: opacity .6s, visibility .6s;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 998;
    overflow: auto;
}

.leaderboad-modal.is-active {
    opacity: 1;
    visibility: visible;
}

.leaderboad-modal__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .6s;
    transition: -webkit-transform .6s;
    -o-transition: transform .6s;
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
    padding: 50px 16px 24px;
    width: 100%;
    max-width: 318px;
    will-change: transform;
    margin: auto;
    background: #30444E;
    border-radius: 24px;
    margin: 40px auto;
}

.leaderboad-modal__inner.is-active {
    -webkit-transform: translateY(calc(0%));
    -ms-transform: translateY(calc(0%));
    transform: translateY(calc(0%));
}

.leaderboad-modal__inner::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    content: attr(data-title) "";
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
    background: #6952DC;
    border-radius: 12px;
    width: 100%;
    max-width: 238px;
    height: 48px;
    color: #fff;
    font-family: Maven Pro;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.8px;
}

.leaderboad__list {
    width: 100%;
}

.leaderboad__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    border: 2px solid #96A7AF;
    border-radius: 16px;
    margin-bottom: 16px;
}

.leaderboad-modal__close {
    width: 100%;
    max-width: 144px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFBC25;
    border-radius: 8px;
    color: #fff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.leaderboad__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 27px;
}

.leaderboad__item-content .place {
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.leaderboad__item-content.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.leaderboad__item.avatar img {
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.leaderboad__item-content.info {
    margin-right: 14px;
}

.leaderboad__item-content .name {
    font-family: Roboto;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.leaderboad__item-content .score {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1F2E35;
}

.leaderboad__item-content .score span {
    color: #fff;
    padding-left: 4px;
}

.leaderboad__item-content .prize-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    padding-bottom: 8px;
    padding-bottom: 5px;
    margin-top: -4px;
}

.leaderboad__item-content .number-prize svg {
    vertical-align: bottom;
}

.leaderboad__item-content .number-prize span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.leaderboad__item:nth-child(1) .leaderboad__item-content .place {
    color: #FFBC25;
}

.leaderboad__item:nth-child(2) .leaderboad__item-content .place {
    color: #FFBC25;
}

.leaderboad__item:nth-child(3) .leaderboad__item-content .place {
    color: #FFBC25;
}

@media (max-width: 350px) {
    .tournaments__item-middle__info .title {
        font-size: 16px;
    }
    .tournaments__item-left__info::before {
        font-size: 12px;
        right: calc(0% - 110px);
        width: 110px;
    }
    .tournaments__item-middle__info .players span {
        font-size: 12px;
    }
    .footer__item p {
        font-size: 14px;
    }
    .header__item {
        font-size: 12px;
    }
    .header__item span {
        margin-left: 6px;
    }
    .leaderboad-modal__inner {
        max-width: 300px;
    }
}